[package]
name = "clarinet-deployments"
version.workspace = true
edition = "2021"

[dependencies]
colored = "2.1.0"
serde = "1"
serde_json = "1"
serde_derive = "1"
serde_yaml = "0.8.23"

clarity-repl = { path = "../clarity-repl", default-features = false, optional = true }
clarinet-files = { path = "../clarinet-files", default-features = false }
stacks-rpc-client = { path = "../stacks-rpc-client", optional = true }

# CLI
reqwest = { version = "0.11", default-features = false, features = [
    "json",
    "rustls-tls",
] }
bitcoin = { version = "0.29.2", optional = true }
bitcoincore-rpc = { version = "0.16.0", optional = true }
bitcoincore-rpc-json = { version = "0.16.0", optional = true }
base58 = { version = "0.2.0", optional = true }
base64 = "0.21.3"
tiny-hderive = { version = "0.3.0", optional = true }
libsecp256k1 = { version = "0.7.0", optional = true }
clarinet_utils = { package = "clarinet-utils", path = "../clarinet-utils", optional = true }
stacks-codec = { path = "../stacks-codec", optional = true }

[features]
default = ["cli"]
cli = ["clarity-repl/cli", "clarinet-files/cli", "stacks-codec", "onchain"]
wasm = ["clarity-repl/wasm", "clarinet-files/wasm"]
onchain = [
    "stacks-rpc-client",
    "bitcoin",
    "bitcoincore-rpc",
    "bitcoincore-rpc-json",
    "base58",
    "tiny-hderive",
    "libsecp256k1",
    "clarinet_utils",
]

[lib]
name = "clarinet_deployments"
path = "src/lib.rs"
