/target
/xtask/target
.DS_Store
clarinet.code-workspace
history.txt
node_modules
**/node_modules
package-lock.json
target
index.node
npm-debug.log*
node-bindings/dist
node-bindings/build
**/settings/Mainnet.toml
**/settings/Testnet.toml
examples/cbtc/backend/.build
vendor/orchestra-types-js/dist
*.tar.gz
*.zip
