# Have linguist ignore typescript compiler sources 
components/clarinet-cli/js/* linguist-vendored
components/clarinet-cli/dts/* linguist-vendored
components/clarinet-cli/tsc/* linguist-vendored

# Declare Clarity files that will always have LF line endings on checkout.
*.clar text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
