/target
/coverage
.DS_Store
clarinet.code-workspace
history.txt
node_modules
**/node_modules
target
index.node
npm-debug.log*
**/settings/Mainnet.toml
**/settings/Testnet.toml
**/.requirements
**/.cache
**/.build
components/stacks-devnet-js/dist
components/stacks-devnet-js/build
*.tar.gz
!components/stacks-network/data/devnet_default_snapshot.tar.gz
*.zip
*.rdb
*.lcov
*.info
*.profraw
