[workspace]
resolver = "2"
members = [
    "components/clarinet-cli",
    "components/clarinet-deployments",
    "components/clarinet-files",
    "components/clarinet-utils",
    "components/clarinet-sdk-wasm",
    "components/clarity-jupyter-kernel",
    "components/clarity-lsp",
    "components/clarity-repl",
    "components/clarity-events",
    "components/hiro-system-kit",
    "components/stacks-codec",
    "components/stacks-devnet-js",
    "components/stacks-network",
    "components/stacks-rpc-client",
]
default-members = ["components/clarinet-cli"]

# [patch.crates-io]
# "clarity-vm" = { path = "../stacks-blockchain/clarity" }

# [patch.'https://github.com/hirosystems/chainhook.git']
# chainhook-sdk = { path = "../chainhook/components/chainhook-sdk" }
# chainhook-types = { path = "../chainhook/components/chainhook-types-rs" }
