[workspace]
resolver = "2"
members = [
    "components/clarinet-cli",
    "components/clarinet-deployments",
    "components/clarinet-files",
    "components/clarinet-core",
    "components/clarinet-static",
    "components/clarinet-sdk-wasm",
    "components/clarity-lsp",
    "components/clarity-repl",
    "components/clarity-events",
    "components/hiro-system-kit",
    "components/stacks-codec",
    "components/stacks-devnet-js",
    "components/stacks-network",
    "components/stacks-rpc-client",
]
default-members = ["components/clarinet-cli"]

[workspace.package]
version = "2.7.0"

[workspace.dependencies]
clarity = { git = "https://github.com/stacks-network/stacks-core.git", branch="feat/clarity-wasm-develop", package = "clarity", default-features = false }
lazy_static = { version = "1.5.0" }
reqwest = { version = "0.12", default-features = false, features = [
    "json",
    "rustls-tls",
] }

[patch.crates-io]
chainhook-sdk = { git = "https://github.com/hirosystems/chainhook.git" }
chainhook-types = { git = "https://github.com/hirosystems/chainhook.git" }
stacks-codec = { path = "./components/stacks-codec" }
