[project]
name = "counter"
authors = []
description = ""
telemetry = false
cache_dir = "./.requirements"
boot_contracts = ["pox", "costs-2", "cost-voting", "bns"]

[contracts.counter]
path = "contracts/counter.clar"
depends_on = []

[repl.analysis]
passes = ["check_checker"]
check_checker = { trusted_sender = false, trusted_caller = false, callee_filter = false }
