[project]
name = "counter"
authors = []
description = ""
telemetry = false
cache_dir = "./.cache"
boot_contracts = ["pox", "costs-v2", "bns"]

[contracts.counter]
path = "contracts/counter.clar"
depends_on = []

[repl.analysis]
passes = ["check_checker"]
check_checker = { trusted_sender = false, trusted_caller = false, callee_filter = false }
