[package]
name = "clarinet-cli"
version = "0.33.0"
authors = ["Ludo Galabru <ludo@hiro.so>", "Brice Dobry <brice@hiro.so>"]
edition = "2021"
description = "Clarinet is a simple, modern and opinionated runtime for testing, integrating and deploying Clarity smart contracts."
readme = "README.md"
license = "GPL-3.0"
keywords = ["blockstack", "blockchain", "clarity", "smart-contract", "repl"]
exclude = ["examples/**"]
homepage = "https://github.com/hirosystems/clarinet"
repository = "https://github.com/hirosystems/clarinet"
categories = [
    "command-line-utilities",
    "development-tools",
    "development-tools::build-utils",
]

[target.'cfg(windows)'.build-dependencies]
winapi = "0.3.9"
winres = "0.1.11"

[dependencies]
clap = { version = "3.1.6", features = ["derive"], optional = true }
clap_generate = { version = "3.0.3", optional = true }
toml = { version = "0.5.6", features = ["preserve_order"] }
serde = "1"
serde_json = "1"
serde_derive = "1"
deno_core = { path = "../../vendor/deno/core", optional = true }
deno_runtime = { path = "../../vendor/deno/runtime", optional = true }
deno = { path = "../../vendor/deno/cli", optional = true }
clarity_repl = { package = "clarity-repl", path = "../clarity-repl", features = ["cli"] }
aes = "0.7.5"
base64 = "0.13.0"
block-modes = "0.8.1"
rand = "0.8.3"
ring = "0.16.20"
libsecp256k1 = "0.7.0"
uuid = { version = "0.8.2", features = ["v4"] }
hmac = "0.12.0"
pbkdf2 = { version = "0.11.0", features = ["simple"], default-features = false }
futures = "0.3.12"
tokio = { version = "=1.17.0", features = ["full"] }
lazy_static = "1.4.0"
atty = "0.2.14"
termcolor = "1.1.2"
ansi_term = "0.12.1"
text-size = "=1.1.0"
regex = "1.5.5"
libc = "0.2.86"
encoding_rs = "0.8.28"
percent-encoding = "2.1.0"
pin-project = "1.0.5"
indexmap = { version = "1.6.1", features = ["serde"] }
shell-escape = "0.1.5"
tiny-hderive = "0.3.0"
reqwest = { version = "0.11", default-features = false, features = [
    "blocking",
    "json",
    "rustls-tls",
] }
swc_common = { version = "0.10.20", features = ["sourcemap"], optional = true }
bollard = "0.11.0"
crossterm = "0.22.1"
chrono = "0.4.20"
base58 = "0.2.0"
tracing = "0.1"
tracing-subscriber = "0.3.3"
tracing-appender = "0.2.0"
ctrlc = "3.1.9"
strum = { version = "0.23.0", features = ["derive"] }
bitcoin = "0.28.1"
bitcoincore-rpc = "0.14.0"
bitcoincore-rpc-json = "0.14.0"
segment = { version = "0.1.2", optional = true }
mac_address = { version = "1.1.2", optional = true }
tower-lsp = { version = "0.14.0", optional = true }
hex = "0.4.3"
serde_yaml = "0.8.23"
orchestra_event_observer = { package = "orchestra-event-observer", default-features = false, path = "../../vendor/orchestra-event-observer" }
orchestra_types = { package = "orchestra-types", path = "../../vendor/orchestra-types-rs" }
stacks_rpc_client = { package = "stacks-rpc-client", path = "../stacks-rpc-client" }
clarinet_files = { package = "clarinet-files", path = "../clarinet-files", features = ["cli"]  }
clarity_lsp = { package = "clarity-lsp", path = "../clarity-lsp", features = ["cli"]  }
clarinet_deployments = { package = "clarinet-deployments", path = "../clarinet-deployments", features = ["cli"]  }
clarinet_utils = { package = "clarinet-utils", path = "../clarinet-utils" }
num_cpus = "1.13.1"
mio = "=0.8.2"
similar = "2.1.0"

[dependencies.tui]
version = "0.18.0"
default-features = false
features = ["crossterm"]

[target.'cfg(windows)'.dependencies]
fwdansi = "1.1.0"
winapi = { version = "0.3.9", features = [
    "knownfolders",
    "mswsock",
    "objbase",
    "shlobj",
    "tlhelp32",
    "winbase",
    "winerror",
    "winsock2",
    "std",
    "handleapi",
    "ws2ipdef",
    "ws2tcpip"
] }

[package.metadata.winres]
OriginalFilename = "clarinet.exe"
LegalCopyright = ""
ProductName = "Clarinet"
FileDescription = ""

[lib]
name = "clarinet_lib"
path = "src/lib.rs"
crate-type = ["lib"]

[[bin]]
name = "clarinet"
path = "src/bin.rs"

[features]
default = ["cli", "telemetry"]
cli = [
    "swc_common",
    "deno",
    "deno_runtime",
    "deno_core",
    "clap",
    "clap_generate",
    "tower-lsp",
]
telemetry = ["segment", "mac_address"]
