[package]
edition = "2021"
name = "clarity-events"
version = "1.0.0"

[dependencies]
clarinet_files =  { package = "clarinet-files", path = "../clarinet-files", default-features = false, optional = true }
clarity_repl = { package = "clarity-repl", path = "../clarity-repl", default-features = false }
clap = { version = "3.2.23", features = ["derive"], optional = true }
clap_generate = { version = "3.0.3", optional = true }
toml = { version = "0.5.6", features = ["preserve_order"], optional = true  }
serde = { version = "1.0.136", features = ["derive"] }
serde_json = { version = "1.0.79", features = ["preserve_order"] }
serde_derive = "1"

[features]
default = ["cli"]
cli = [
  "clarity_repl/cli",
  "clarinet_files/cli",
  "clap",
  "clap_generate",
  "toml"
]
lib = ["clarity_repl/cli"]

[lib]
crate-type = ["cdylib", "rlib"]
name = "clarity_events"
path = "src/lib.rs"

[[bin]]
name = "clarity-events"
path = "src/bin.rs"
