[package]
edition = "2021"
name = "clarity-events"
version = "1.0.0"

[dependencies]
clarinet-files = { path = "../clarinet-files", default-features = false, optional = true }
clarity-repl = { path = "../clarity-repl", default-features = false }
clap = { version = "4.4.8", features = ["derive"], optional = true }
toml = { version = "0.5.6", features = ["preserve_order"], optional = true }
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1.0.79", features = ["preserve_order"] }
serde_derive = "1"

[features]
default = ["cli"]
cli = ["clarity-repl/cli", "clarinet-files/cli", "clap", "toml"]
lib = ["clarity-repl/cli"]
wasm = ["clarity-repl/wasm"]

[lib]
crate-type = ["cdylib", "rlib"]
name = "clarity_events"
path = "src/lib.rs"

[[bin]]
name = "clarity-events"
path = "src/bin.rs"
