[alias]
clarinet-install = "install --path components/clarinet-cli --locked --force"
# clarity-sdk-wasm has its own test suite using wasm-pack-test
# stacks-devnet-js is un tested and not actively maintained
tst = "nextest run --workspace --no-fail-fast --locked --exclude clarinet-sdk-wasm --exclude stacks-devnet-js"
cov = "llvm-cov nextest --workspace --locked --exclude clarinet-sdk-wasm --exclude stacks-devnet-js --lcov --output-path lcov.info"
cov-dev = "llvm-cov nextest --workspace --locked --exclude clarinet-sdk-wasm --exclude stacks-devnet-js --html"
fmt-stacks = "fmt --all -- --config group_imports=StdExternalCrate,imports_granularity=Module"
