**

!debug/dist/debug.js

!client/dist/clientBrowser.js
!client/dist/clientNode.js

!server/dist/lsp-browser_bg.wasm
!server/dist/lsp-node_bg.wasm
!server/dist/serverBrowser.js
!server/dist/serverNode.js

!syntaxes/**
!assets/**

!language-configuration.json
!LICENSE
!README.md
!package.json
!package.nls.json
