table {
  text-align: center;
  border-collapse: collapse;
  text-transform: uppercase;
}

table,
tr {
  width: 100%;
}

table,
th,
td {
  border: 1px solid;
}

th,
td {
  width: 20%;
  padding: 6px 6px;
}

th {
  font-size: 0.6rem;
}
