
[project]
name = "simple-nft"
cache_dir = "./.cache"

[contracts.simple-nft]
path = "contracts/simple-nft.clar"
depends_on = ["sip-009-trait-ft-standard"]

# EXTERNAL CONTRACTS
[contracts.sip-009-trait-ft-standard]
path = "contracts/external/sip-009-nft-trait-standard.clar"
depends_on = []

[repl.analysis]
passes = ["check_checker"]
check_checker = { trusted_sender = false, trusted_caller = false, callee_filter = false }
