
[project]
name = "simple-nft"
cache_dir = "./.cache"

[contracts.simple-nft]
path = "contracts/simple-nft.clar"
clarity_version = 1
epoch = "2.05"

# EXTERNAL CONTRACTS
[contracts.sip-009-trait-ft-standard]
path = "contracts/external/sip-009-nft-trait-standard.clar"
clarity_version = 1
epoch = "2.05"

[repl.analysis]
passes = ["check_checker"]
check_checker = { trusted_sender = false, trusted_caller = false, callee_filter = false }
