[package]
name = "clarinet-files"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = "1"
serde_derive = "1"
clarinet_utils = { package = "clarinet-utils", path = "../clarinet-utils" }
orchestra_types = { package = "orchestra-types", path = "../../vendor/orchestra-types-rs" }
bip39 = { version = "1.0.1", default-features = false }
clarity_repl = { package = "clarity-repl", path = "../clarity-repl", default-features = false }
libsecp256k1 = "0.7.0"
toml = { version = "0.5.6", features = ["preserve_order"] }
url = { version = "2.2.2", features = ["serde"] }
tiny-hderive = "0.3.0"
bitcoin = { version = "0.28.1", optional = true }
clarity = { path = "../../../stacks-blockchain/clarity" }
stacks_common = { package = "stacks-common", path = "../../../stacks-blockchain/stacks-common" }

# wasm
js-sys = { version = "0.3", optional = true }
serde-wasm-bindgen = { version = "0.4", optional = true }
wasm-bindgen = { version = "0.2", optional = true }
wasm-bindgen-futures = { version = "0.4", optional = true }
web-sys = { version = "0.3", features = ["console"], optional = true }

[features]
default = ["cli"]
cli = ["bitcoin", "clarity_repl/cli"]
wasm = [
  "js-sys",
  "serde-wasm-bindgen",
  "wasm-bindgen",
  "wasm-bindgen-futures",
  "web-sys",
  "clarity_repl/wasm",
]

[lib]
name = "clarinet_files"
path = "src/lib.rs"
