[package]
name = "clarinet-files"
description = "Clarinet manifests files helpers"
license = "GPL-3.0"
version = "2.2.1"
edition = "2021"

[dependencies]
serde = "1"
serde_derive = "1"
# chainhook-types = "1.2"
chainhook-types = { version = "1.2",  git = "https://github.com/hirosystems/chainhook.git", rev="570ceb7" }
bip39 = { version = "1.0.1", default-features = false }
libsecp256k1 = "0.7.0"
toml = { version = "0.5.6", features = ["preserve_order"] }
url = { version = "2.2.2", features = ["serde"] }
tiny-hderive = "0.3.0"
bitcoin = { version = "0.29.2", optional = true }

clarinet-utils = { version = "1", path = "../clarinet-utils" }
clarity-repl = { version = "2", path = "../clarity-repl", default-features = false, optional = true }

# wasm
js-sys = { version = "0.3", optional = true }
serde-wasm-bindgen = { version = "0.6.0", optional = true }
wasm-bindgen = { version = "0.2", optional = true }
wasm-bindgen-futures = { version = "0.4", optional = true }
serde_json = "1.0.104"

[features]
default = ["cli"]
cli = ["bitcoin", "clarity-repl/cli"]
wasm = [
  "js-sys",
  "serde-wasm-bindgen",
  "wasm-bindgen",
  "wasm-bindgen-futures",
  "clarity-repl/wasm",
]

[lib]
name = "clarinet_files"
path = "src/lib.rs"
