[package]
name = "stacks-rpc-client"
version = "1.0.0"
description = "HTTP Client for the Stacks blockchain"
license = "GPL-3.0"
edition = "2021"

[dependencies]
serde = "1"
serde_json = "1"
serde_derive = "1"
clarity_repl = { version = "1", package = "clarity-repl", path = "../clarity-repl" }
clarinet_utils = { version = "1", package = "clarinet-utils", path = "../clarinet-utils" }
reqwest = { version = "0.11", default-features = false, features = [
    "blocking",
    "json",
    "rustls-tls",
] }
