[package]
name = "stacks-rpc-client"
version = "2.0.1"
description = "HTTP Client for the Stacks blockchain"
license = "GPL-3.0"
edition = "2021"

[dependencies]
serde = "1"
serde_json = "1"
serde_derive = "1"
reqwest = { version = "0.11", default-features = false, features = [
    "blocking",
    "json",
    "rustls-tls",
] }
hmac = "0.12.0"
pbkdf2 = { version = "0.12.2", features = ["simple"], default-features = false }
sha2 = "0.10.0"
tiny-hderive = { version = "0.3.0" }
libsecp256k1 = { version = "0.7.0" }

clarity_repl = { version = "2", package = "clarity-repl", path = "../clarity-repl", default-features = false, features = [
    "sdk",
] }
