[package]
name = "stacks-network"
version = "1.7.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
atty = "0.2.14"
ansi_term = "0.12.1"
bollard = "0.11.0"
bytes = "1.4.0"
crossterm = { version = "0.22.1", optional = true }
bitcoin = "0.29.2"
bitcoincore-rpc = "0.16.0"
serde = { version = "1.0.136", features = ["derive"] }
serde_json = { version = "1.0.79", features = ["preserve_order"] }
serde_derive = "1"
tracing = "0.1"
tracing-subscriber = "0.3.3"
tracing-appender = "0.2.0"
ctrlc = "3.1.9"
reqwest = { version = "0.11", default-features = false, features = [
    "blocking",
    "json",
    "rustls-tls",
] }
tui = { version = "0.18.0", default-features = false, features = ["crossterm"] }
crossbeam-channel = "0.5.6"

chrono = "0.4.20"
futures = "0.3.12"
base58 = "0.2.0"

# chainhook-sdk = { version = "=0.4.0", default-features = false, features = ["log"], path = "../../../chainhook/components/chainhook-sdk" }
chainhook-sdk = { version = "=0.4.0", default-features = false, features = [
    "log",
] }
stacks-rpc-client = { path = "../stacks-rpc-client" }
clarinet-files = { path = "../clarinet-files", features = ["cli"] }
clarinet-deployments = { path = "../clarinet-deployments", features = ["cli"] }
clarinet-utils = { path = "../clarinet-utils" }
hiro-system-kit = { path = "../hiro-system-kit", features = ["log"] }
clarity-repl = { path = "../clarity-repl", features = ["cli"] }
dirs = { version = "4.0.0" }
clap = {version = "4.2.7", features = [ "derive" ] }
serde_yaml = "0.9.21"

[lib]
name = "stacks_network"
path = "src/lib.rs"
# Default type
# crate-type = ["lib"]
# Use this instead for WASM builds
crate-type = ["cdylib", "rlib"]

[[bin]]
name = "stacks-network"
path = "src/main.rs"

[features]
default = ["crossterm"]
