##
## Bumps the Clarinet version listed on various package managers.
##

name: Package Version Bump
on:
  workflow_dispatch:
    inputs:
      tag:
        description: "The tag of the release."
        required: true
  repository_dispatch:
    types:
      - released

env:
  GIT_USER_NAME: Hiro DevOps
  GIT_USER_EMAIL: 45208873+blockstack-devops@users.noreply.github.com

jobs:
  homebrew:
    name: Homebrew
    runs-on: macos-latest
    permissions:
      contents: write
      issues: write
    steps:
      - name: Generate release bot app token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.HIROSYSTEMS_PKG_RELEASE_BOT_APP_ID }}
          private-key: ${{ secrets.HIROSYSTEMS_PKG_RELEASE_BOT_APP_PEM }}

      - name: Get bot user ID
        id: bot-user-id
        run: |
          echo "user-id=$(gh api "/users/${{ steps.generate_token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ steps.generate_token.outputs.token }}

      - name: Homebrew version bump
        env:
          HOMEBREW_GITHUB_API_TOKEN: ${{ steps.generate_token.outputs.token }}
          TAG: ${{ github.event.client_payload.tag || github.event.inputs.tag }}
        run: |
          # Get version info
          VERSION=$(echo "${TAG#v}")

          # Configure git configs
          git config --global user.name "${GIT_USER_NAME}"
          git config --global user.email "${GIT_USER_EMAIL}"

          brew update
          brew bump-formula-pr \
            --no-browse \
            --no-audit \
            --force \
            --tag "${TAG}" \
            --version "${VERSION}" \
            clarinet

  winget:
    name: Winget
    runs-on: windows-latest
    steps:
      - name: Winget version bump
        env:
          TAG: ${{ github.event.client_payload.tag || github.event.inputs.tag }}
        run: |
          # Get version info
          $VERSION=${env:TAG}.substring(1)

          # Configure git configs
          git config --global user.name "${env:GIT_USER_NAME}"
          git config --global user.email "${env:GIT_USER_EMAIL}"

          # Get wingetcreate
          iwr https://aka.ms/wingetcreate/latest -OutFile wingetcreate.exe

          # Update manifest and submit PR
          ./wingetcreate.exe update `
            --urls https://github.com/${{ github.repository }}/releases/download/${env:TAG}/clarinet-windows-x64.msi `
            --version ${VERSION} `
            --token ${{ secrets.GITHUB_TOKEN }} `
            --submit `
            HiroSystems.Clarinet
