# The vscode extension is published to npm when a release is created.
# It's built with vsce and published to both the vscode marketplace and open vsx.

name: Publish VSCode Extension
on:
  # remove before merging
  pull_request:
    branches:
      - main
  repository_dispatch:
    types:
      - released

defaults:
  run:
    working-directory: ./components/clarity-vscode

jobs:
  build-publish:
    name: Build and Publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Setup Rust
        run: |
          rustup toolchain install stable --profile minimal --target wasm32-unknown-unknown
          cargo install wasm-pack

      - name: Install dependencies
        run: npm ci

      - name: Build vsix
        run: npx vsce package --out clarity-lsp.vsix

      - name: Publish to VSCode Marketplace
        continue-on-error: true
        run: npx vsce publish --packagePath clarity-lsp.vsix --pat ${{ secrets.VSCE_TOKEN }}

      - name: Publish to Open VSX
        run: npx ovsx publish --packagePath clarity-lsp.vsix --pat ${{ secrets.OVSX_TOKEN }}
